.auth-wrapper {
  padding: 50px 0;
}

.auth-wrapper h1 {
  font-size: 32px;
  line-height: 1.45;
}

.auth-wrapper .logo img {
  width: 210px;
}

.book-shelf h4 {
  font-size: 14px;
  font-weight: 600;
}

.book-shelf ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.book-shelf {
  width: 100%;
}

.book-shelf table {
  width: 100%;
  border-collapse: collapse;
}

.book-shelf table tr {
  border-bottom: 1px solid #d3d3d3;
}

.book-shelf table tr th {
  padding: 5px;
  font-size: 14px;
}

.book-shelf table tr td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
  font-size: 14px;
}

.book-shelf .cover-img {
  display: block;
  width: 60px;
}

.grid {
  display: grid;
}

.item {
  position: relative;
}

.float-link {
  display: none;
  position: absolute;
  background: none;
  border: none;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 2px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  font-size: 12px;
  transition: all 0.3s ease;
}

.item:hover .float-link {
  display: block;
}

.message {
  position: relative;
  padding: 14px 18px;
  padding-left: 63px;
  background-color: hsl(120, 59%, 90%);
  text-align: left;
  border-radius: 1rem;
}

.message-icon {
  height: 27px;
  width: 30px;
  position: absolute;
  left: 18px;
  top: 11px;
}

.detail-img {
  border-radius: 0 6% 6% 0/4%;
  transition: transform 0.2s ease-in-out;
  filter: drop-shadow(0 0.2rem 0.8rem rgba(0, 0, 0, 0.2));
  position: relative;
  width: 207.9px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 1rem;
}

.detail-title {
  font-size: 30px;
  line-height: 46px;
}

.detail-author {
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-bottom: 8px;
}

.detail-genres {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 10px;
}

.detail-genres::before {
  content: 'Genres:';
}

.detail-genres li a {
  color: #2a2a2a;
  font-weight: 700;
  border-bottom: 3px solid #165516;
  padding-bottom: 5px;
}

.edition-item dt,
.edition-item dd {
  display: table-cell;
  padding: 0.4rem 0;
}

.edition-item dt {
  width: 125px;
  padding-right: 16px;
  color: #707070;
  font-size: 400;
  font-size: 14px;
}

.edition-item dd {
  font-size: 14px;
}

.author-image {
  width: 72px;
  height: 72px;
}

.author-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.author-left {
  gap: 3%;
}

.author-left,
.author-right {
  flex: 1;
}

.author-details h6 {
  margin-bottom: 5px;
}

.author {
  width: 100%;
}

.author-right {
  text-align: right;
}

.progress-wrapper {
  width: 500px;
}

.progress-top {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(120, 60%, 95%);
}

.progress-form {
  display: flex;
  gap: 15px;
  align-items: center;
}

.progress-top input {
  border: #77dd77 1px solid;
  color: #333333;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  background-color: #fff;
}

.progress-top input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.friends-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.friends-wrapper ul li {
  padding: 0 10px 10px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 10px;
}
.friend-img {
  width: 70px;
}
.friend-img img {
  object-fit: cover;
}

.friend-left,
.friend-item {
  display: flex;
}
.friend-left {
  gap: 2%;
}
.friend-item {
  justify-content: space-between;
}
.friends-link a:hover {
  text-decoration: underline;
}
.user-name a {
  color: #2a2a2a;
  transition: 0.3s;
}
.user-name a:hover {
  text-decoration: underline;
}
.page_404 {
  margin: 0 auto;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 500px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.loading-wrapper {
  min-height: 100vh;
  font-family: Roboto, Arial;
  color: #adafb6;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(249, 251, 255, 0.6);
}

.boxes {
  height: 32px;
  width: 32px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  margin-top: 32px;
  -webkit-transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}
.boxes .box {
  width: 32px;
  height: 32px;
  top: 0px;
  left: 0;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.boxes .box:nth-child(1) {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-animation: box1 1s linear infinite;
  animation: box1 1s linear infinite;
}
.boxes .box:nth-child(2) {
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-animation: box2 1s linear infinite;
  animation: box2 1s linear infinite;
}
.boxes .box:nth-child(3) {
  -webkit-transform: translate(100%, 100%);
  transform: translate(100%, 100%);
  -webkit-animation: box3 1s linear infinite;
  animation: box3 1s linear infinite;
}
.boxes .box:nth-child(4) {
  -webkit-transform: translate(200%, 0);
  transform: translate(200%, 0);
  -webkit-animation: box4 1s linear infinite;
  animation: box4 1s linear infinite;
}

.boxes .box > div {
  background: #5c8df6;
  --translateZ: 15.5px;
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #5c8df6;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  -webkit-transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX))
    translateZ(var(--translateZ));
}

.boxes .box > div:nth-child(1) {
  top: 0;
  left: 0;
  background: #5c8df6;
}
.boxes .box > div:nth-child(2) {
  background: #145af2;
  right: 0;
  --rotateY: 90deg;
}
.boxes .box > div:nth-child(3) {
  background: #447cf5;
  --rotateX: -90deg;
}
.boxes .box > div:nth-child(4) {
  background: #dbe3f4;
  top: 0;
  left: 0;
  --translateZ: -90px;
}

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

.book-shelf-nav ul li a {
  color: #2a2a2a;
  transition: 0.3s;
}

.book-shelf-nav ul li a:hover,
.book-shelf-nav ul li a.active {
  text-decoration: underline;
  font-weight: 600;
  color: #1b651b;
}
