.custom-nav {
  background-color: #f1fcf1;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.brand-logo {
  width: 200px;
}
.brand-logo img {
  object-fit: contain;
}
.custom-navbar {
  display: flex;
}
.nav-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 1.5rem;
}
.nav-list {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.nav-list:hover {
  background-color: hsl(120, 59%, 17%);
}
.nav-list:hover .nav-link {
  color: #f4f4f4;
}
.custom-navbar form {
  width: 350px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.custom-navbar form input {
  width: 100%;
  background: #ffffff;
  border-radius: 3px;
  border: #77dd77 1px solid;
  color: #333333;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
  resize: none;
  padding: 5px 10px;
}
.custom-navbar form .form-group {
  position: relative;
  width: 100%;
}
.custom-navbar form input:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.custom-navbar form button {
  display: inline-block;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  color: #4a4a4a;
}
