.custom-nav {
  background-color: #f1fcf1;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.brand-logo {
  width: 200px;
}
.brand-logo img {
  object-fit: contain;
}
.custom-navbar {
  display: flex;
  align-items: center;
  gap: 1%;
}
.nav-item {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 1.5rem;
}
.nav-list {
  padding: 12px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.nav-list:hover {
  background-color: hsl(120, 59%, 17%);
}
.nav-list:hover .nav-link {
  color: #f4f4f4;
}
.nav-icon {
  padding: 12px 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.nav-icon img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.nav-icon:hover {
  background-color: hsl(120, 59%, 17%);
}
